vrrp_script check_ftl {
    script "pgrep pihole-FTL > /dev/null"
    interval 1
    weight -10
}

vrrp_instance pihole {
    state {{ pihole_keepalived_state }}
    interface eth0
    virtual_router_id 50
    priority {{ pihole_keepalived_priority }}
    advert_int 1

    authentication {
        auth_type PASS
        auth_pass {{ pihole_keepalived_auth_pass }}
    }

    virtual_ipaddress {
        {{ pihole_keepalived_virtual_ipaddress }}
    }

    track_script {
        check_ftl
    }
}
